body
{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #ceccc7;
    color: #1b1b1b;
    font-family: sans-serif;
    overflow: hidden;
    text-shadow: 0 0 20px white;
}

#dosbox
{
    position: relative;
    border-radius: 6px;
    border: 2.5vw solid #bcb9b4;
    border-bottom-color: #b7b0a6;
    border-top-color: #a19e98;
    background-color: black;
    box-shadow: 0 0 2vw rgba(255, 255, 255, 0.2);
    transition: width 0.2s ease-out,
                height 0.2s ease-out;
}

#dosbox:not(.running)
{
    visibility: hidden;
}

#jsdos-canvas
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: none;
}

#message-display
{
    position: absolute;
}

#message-display.loading
{
    font-style: italic;
}

/* A container that will be created at run-time by JS-DOS.*/
.dosbox-container
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding: 0.5vw;
    background-color: #000000;
    border-radius: 4px;
    transform: translateX(-0.5vw) translateY(-0.5vw);
}
